@mixin flex($direction: row, $justify: flex-start, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

body {
    margin:0;
    padding:0;
    @include flex ($justify:center);
}

#root {
    width: 100%;
    max-width: 1240px;
    padding-top: 20px;
    box-sizing: border-box;
}

.navbar{
    @include flex($justify:space-between);
    .navbar__link{
        @include flex($align:center, $gap:50px);
        list-style: none;
    }
}

.banner{
    margin-top:40px;
    position:relative;
    width:100%;
    height:223px;
}

.banner__img{
    width:100%;
    height: 223px;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(40%);
}

.banner__text {
    font-family: 'Montserrat', sans-serif;
    position:absolute;
    top:20%;
    width:100%;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 
    1px 1px 0px black,
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black;
}
