@mixin flex($direction: row, $justify: flex-start, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

*{
    box-sizing:border-box;
}

body {
    width:100vw;
    margin:0;
    padding:0;
    @include flex ($justify:center);
    font-family: 'Montserrat', sans-serif;
}

#root {
    width: 100%;
    @include flex(column,center);
    max-width: 1440px;
    padding-top: 20px;
    box-sizing: border-box;
    interpolate-size: allow-keywords;
}

a{
    text-decoration:none;
    color:black;
    font-size: 24px;
    font-weight:500;
}

a:visited{
    color:black;
}

.navbar{
    width:1240px;
    @include flex($justify:space-between);
    .navbar__link{
        @include flex($align:center, $gap:50px);
        list-style: none;
    }
}

.banner{
    margin-top:40px;
    position:relative;
    width:1240px;
    height:223px;
}

.banner__img{
    width:100%;
    height: 223px;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(40%);
}

.banner__text {
    position:absolute;
    top:20%;
    width:100%;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 
    1px 1px 0px black,
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black;
}

.accommodation__container{
    @include flex($justify:center,$align:center);
    width:1240px;
    margin-top:40px;
    box-sizing: border-box;
    background-color:#f6f6f6;
    border-radius: 15px;
    padding:30px;
    .accommodation__list{
        @include flex($align:flex-start, $gap:55px);
        width:100%;
        padding-left: 25px;
        flex-wrap:wrap;
        row-gap: 30px;
    }
    .accommodation__card{
        @include flex (column, $align:flex-start);
        width:340px;
        height:340px;
        position:relative;
    }
    .accommodation__card__image{
        width:100%;
        height:100%;
        border-radius: 5px;
        object-fit: cover;
    }
    .accommodation__title{
        @include flex ($align:center);
        position:absolute;
        padding-left:5px;
        box-sizing: border-box;
        width:100%;
        height:20%;
        bottom:0;
        font-weight:700;
        font-size: 18px;
        background:  rgba(255, 96, 96, 0.6);
        color:white;
    }
}

footer{
    margin-top: 20px;
    width:100%;
    height:209px;
    background-color: black;
    @include flex (column, flex-end,center,$gap:30px);
    .footer__content{
        color:white;
        font-weight: 500;
        font-size: 24px;
        margin-bottom:20px;
    }
}

.about__container{
    @include flex ($justify:center);
    margin-top: 30px;
}


.about__menu{
    width:1024px;
    @include flex(column, $gap:30px);
}

.collapse__title{
    @include flex ($justify: space-between);
    background-color:#ff6060;
    padding-inline: 10px;
    height:52px;
    font-size: 24px;
    font-weight: 700;
    color:white;
}

.collapse__content{
    overflow:hidden;
    padding-inline: 10px;
    block-size:0;
    background-color:#f6f6f6;
    font-size:18px;
    font-weight: 400;
    line-height: 1.5em;
    transition: block-size 400ms;
}

.collapse__content.expanded{
    block-size: auto;
}

.collapse__toggle{
    color:white;
    background-color: transparent;
    border:none;
    font-size: 24px;
    transition: transform 250ms ease-in-out;
}
.collapse__toggle.expanded{
    transform: rotate(-180deg);
    transition: transform 250ms ease-in-out;
}

.not-found{
    margin-block:100px;
    @include flex(column,center,$gap:80px);
    .not-found__content{
        color:#ff6060;
        font-size:36px;
        font-weight: 500;
    }
}

.link__not-found{
    text-decoration: underline;
    font-size:18px;
}

.slide-show__container{
    margin-top:30px;
    width:1240px;
    height:415px;
}

.slide-show__gallery{
    width:100%;
    height:100%;
    position:relative;
}

.slide-show__img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.slide-show__btn{
    all: unset;
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    padding: 1rem;
    cursor:pointer;
}

.slide-show__btn.left{
    left : 0;
}

.slide-show__btn.right{
    right:0;
}

.slide-show__index{
    position:absolute;
    display:block;
    padding:1rem;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    width:max-content;
    color:white;
}

.accommodation__summary{
    @include flex($justify:space-between);
}

.accommodation__summary__location p{
    margin:0;
}

.accommodation__title{
    color:#ff6060;
    font-size:36px;
    font-weight: 500;
}

.host__name{
   @include flex(row, $gap:20px);
   text-align:right;
   font-size: 18px;
   font-weight: 500;
   color:#ff6060;
}

.host__picture__container{
    width:64px;
    height:64px;
    border-radius:50%;
    overflow:hidden;
}

.host__picture__container img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.tags-rating-info-box{
    @include flex($justify:space-between);
    margin-block:20px;
}

.accommodation__tags{
    @include flex($gap:10px);
}

.tag{
    @include flex($justify:center);
    background-color: #ff6060;
    border-radius:10px;
    color: white;
    min-width:115px;
    padding:5px;
    height:25px;
    font-size:14px;
    font-weight:700;
}

.description-equipments-info-box{
    @include flex($justify:space-between);
}

.star-rating{
    @include flex($gap:8px);
}

.star {
    width:24px;
    height:24px;
}

.star.inactive{
    filter: grayscale(100%);
    opacity: 0.5;
}


.description-equipments-info-box{
    @include flex($justify: space-between, $align:flex-start, $gap:20px);
    margin-top:30px;
    margin-bottom:50px;
}


.description__info__box,
.equipments__info__box {
    width:582px;
}

