@mixin flex($direction: row, $justify: flex-start, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

*{
    box-sizing:border-box;
}

$main-color: #ff6060;

$width-desktop:1240px;
$max-width-desktop:1440px;
$width-mobile: 335px;
$max-width-mobile:375px;

body {
    width:100vw;
    margin:0;
    padding:0;
    @include flex ($justify:center);
    font-family: 'Montserrat', sans-serif;
}

#root {
    width: 100%;
    @include flex(column,center);
    max-width: $max-width-desktop;
    padding-top: 20px;
    interpolate-size: allow-keywords;
}

.layout{
    width:$width-desktop;
}

.navbar {
    width: $width-desktop;
    @include flex($justify: space-between);
    .navbar__link {
        @include flex($gap: 50px);
        list-style: none;
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 500;
        &:visited {
            color: black;
        }
        &.navbar__active-link {
            text-decoration: underline;
        }
    }
}

.logo__mobile {
    display: none;
  }

.banner{
    margin-top:40px;
    position:relative;
    height:223px;
    &__img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(60%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    &__text {
        position:absolute;
        top:20%;
        width:100%;
        text-align: center;
        color: white;
        font-size: 48px;
        font-weight: 700;
        text-shadow: 
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    }
}

.accommodation__container{
    @include flex($justify:center);
    margin-top:40px;
    background-color:#f6f6f6;
    border-radius: 25px;
    padding:30px;
    .accommodation__list{
        @include flex($align:flex-start, $gap:55px);
        width:100%;
        padding-left: 25px;
        flex-wrap:wrap;
        row-gap: 30px;
    }
    .accommodation__card{
        @include flex (column, $align:flex-start);
        width:340px;
        height:340px;
        position:relative;
    }
    .accommodation__card__image{
        width:100%;
        height:100%;
        border-radius: 5px;
        object-fit: cover;
    }
    .accommodation__card__title{
        @include flex ();
        position:absolute;
        padding-left:5px;
        width:100%;
        height:20%;
        bottom:0;
        font-weight:700;
        font-size: 18px;
        background:  rgba(255, 96, 96, 0.6);
        color:white;
    }
}

footer{
    margin-top: 20px;
    width:100%;
    height:209px;
    background-color: black;
    .footer__content{
        @include flex (column, flex-end,$gap:15px);
        height:100%;
        .footer__copyright{
        color:white;
        font-weight: 500;
        font-size: 24px;
        margin-bottom:20px;
        }
    }
}

.about__container{
    @include flex ($justify:center);
    margin-top: 30px;
    .about__menu{
        width:1024px;
        @include flex(column, $gap:30px);
    }       
}

.collapse__title{
    @include flex ($justify: space-between);
    background-color:$main-color;
    padding-inline: 10px;
    height:52px;
    font-size: 24px;
    font-weight: 700;
    color:white;
    .collapse__toggle{
        color:white;
        background-color: transparent;
        border:none;
        font-size: 24px;
        transition: transform 250ms ease-in-out;
        cursor: pointer;
    }
    &collapse__toggle.expanded{
        transform: rotate(-180deg);
        transition: transform 250ms ease-in-out;
    }
}

.collapse__content{
    overflow:hidden;
    padding-inline: 10px;
    block-size:0;
    background-color:#f6f6f6;
    font-size:18px;
    font-weight: 400;
    line-height: 1.5em;
    transition: block-size 400ms;
    &.expanded{
        block-size: auto;
    }
}

.slide-show__gallery{
    margin-top:30px;
    height:415px;
    position:relative;
    display: block;
    .slide-show__img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius: 25px;
    }
    .slide-show__btn{
        all: unset;
        position:absolute;
        top:0;
        bottom:0;
        padding: 1rem;
        cursor:pointer;
    }   
    .slide-show__btn.left{
        left : 0;
    }
    .slide-show__btn.right{
        right:0;
    } 
    .slide-show__index{
        position:absolute;
        padding:1rem;
        bottom:0;
        left:0;
        right:0;
        margin:0 auto;
        width:max-content;
        color:white;
    }
}

.accommodation__summary{
    @include flex($justify: space-between);
}

.accommodation__location {
    margin-top:0px;
}

.accommodation__title{
    margin-bottom:0px;
}

.accommodation__host-rating{
    @include flex(column, $align:flex-end, $gap:20px);
    .star-rating{
        @include flex($gap:8px);
        .star {
            width:24px;
            height:24px;
            &.inactive{
                filter: grayscale(100%);
                opacity: 0.5;
            }
        }
    }
}

.host__name{
   @include flex($gap:20px);
   text-align:right;
   font-size: 18px;
   font-weight: 500;
   color:$main-color;
   .host__picture{
        width:64px;
        height:64px;
        border-radius:50%;
        overflow:hidden;
        & img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
}

.accommodation__tags{
    @include flex($gap:10px);
    margin-top:20px;
    .tag{
        @include flex($justify:center);
        background-color: $main-color;
        border-radius:10px;
        color: white;
        min-width:115px;
        padding:5px;
        height:25px;
        font-size:14px;
        font-weight:700;
    }
}

.accommodations__description-equipments{
    @include flex($justify: space-between, $align:flex-start, $gap:20px);
    margin-block:40px;
    .description__info__box,
    .equipments__info__box {
        width:582px;
    }
}

.equipments__list{
    list-style: none;
    padding-left:5px;
}

.accommodation__title, .not-found__content{
    color:$main-color;
    font-size:36px;
    font-weight: 500;
}

.not-found{
    margin-block:100px;
    @include flex(column,$gap:80px);
    &__link{
        text-decoration: underline;
        font-size:18px;
        color:black;
    }
}

@media (max-width: $max-width-mobile) {
    
    .layout{
        width:$max-width-mobile;
    }
    .navbar{
        width:$width-mobile;
        .navbar__link {
            gap:30px;
            font-variant: small-caps;
            font-size: 12px;
            }
    } 
    .logo__mobile {
        display: block;
    }
    .logo__desktop {
        display: none;
    }

    .banner{
        margin:0 auto;
        margin-top:40px;
        width:$width-mobile;
        height:111px;
        padding-inline: 10px;;
        &__text {
            top:5%;
            width:235px;;
            text-align: left;
            font-size: 24px;
            padding-left:10px;
            text-shadow: none;
        }
    }
    .accommodation__container{
        padding-inline:10px;
        .accommodation__list{
            padding-left: 8px;
        }
        
    }

    footer{
        margin-top: 20px;
        width:100%;
        height:209px;
        background-color: black;
        .footer__content{
            @include flex (column, center,$gap:0);
            .footer__copyright{
            font-size: 12px;
            width: 130px;
            text-align:center;
            }
        }
    }

    .about__container .about__menu{
        width:$width-mobile;
        padding-inline:10px;
        @include flex(column, $gap:20px);   
    }
   
    .collapse__title{
        height:30px;
        font-size: 13px;
        border-radius: 5px;;
        .collapse__toggle{
            font-size: 16px;
        }
    }
    
    .collapse__content{
        font-size:14px;
    }

    .slide-show__gallery{
        padding-inline:10px;
        height:255px;
        .slide-show__img{
            border-radius: 10px;
        }
       .image-arrow{
            width:24px
       }
        .slide-show__index{
            display:none;
        }
    }
    
    .accommodation__summary{
        @include flex(column, $align:flex-start);
        padding-inline: 10px;
        width:100%;
    }

    .accommodation__location {
        font-size:14px;
    }
    
    .accommodation__host-rating{
        @include flex($justify:space-between);
        width:95%;
        flex-direction: row-reverse;
        .star-rating .star {
            width:18px;
            height:18px;
        }
    }

    .host__name{
        @include flex($gap:10px);
       font-size: 12px;
       font-weight: 500;
       .host__picture{
            width:32px;
            height:32px;
        }
    }
    
    .accommodation__tags{
        @include flex($gap:10px);
        margin-top:20px;
        .tag{
            @include flex($justify:center);
            min-width:84px;
            height:18px;
            font-size:10px;
        }
    }
    
    .accommodation__title, .not-found__content{
        font-size:18px;
    }
    
    .accommodations__description-equipments{
        @include flex(column, $justify: space-between, $align:flex-start, $gap:20px);
        padding-inline:10px;
        margin-top:10px;
        margin-bottom:10px;
        .description__info__box,
        .equipments__info__box {
            width:$width-mobile;
        }
    }

    .not-found{
        margin-block:100px;
        font-size:18px;
        padding-inline:10px;
        @include flex(column,$justify:center, $gap:80px);
        .image__error{
            width:198px;
            height:99px;
        }
        .not-found__content{
            text-align:center;
        }
        &__link{
            font-size:14px;
        }
    }

}